<div class="body-back">
	  
		<div class="phone-box wrap push" id="home">
			<div class="menu-notify">
				<div class="profile-left">
					<img style="cursor: pointer" src="/assets/images/ic_bar_bell_wt_sm.png" data-toggle="modal" data-target="#myModal3">
					<!-- Modal -->
					<div id="myModal3" class="modal fade" role="dialog">
					  <div class="modal-dialog">
					
					    <!-- Modal content-->
					    <div class="modal-content">
					      <div class="modal-header">
					      
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					      
					        <h3><center>나의 알림</center></h3>
					      </div>
					      <div class="modal-body">
					      <div class="month-graph">
					      	<div class="row">
					      		<div class="col-xs-3">
					      		<img src="/assets/images/alramimg/ic_bell_profile_img1_sm.png">
					      		</div>
					      		<div class="col-xs-9">
					      		<p style="margin:5px; text-align:left;"> "수진"님이 "라이어"[뮤지컬]티켓을 선물하셨습니다. </p>
					      		<p style="margin:5px; text-align:left; color:grey">방금전</p>
					      		</div>
					      		
					      	</div>
					      	
					      	<div class="row">
					      		<hr>
					      		<div class="col-xs-3">
					      		<img src="/assets/images/alramimg/ic_bell_profile_img2_sm.png">
					      		</div>
					      		<div class="col-xs-9">
					      		<p style="margin:5px; text-align:left;"> "mutnam"님이 나를 팔로우하였습니다. </p>
					      		<p style="margin:5px; text-align:left; color:grey">3분 전</p>
					      		</div>
					      	</div>
					      	
					      	<div class="row">
					      		<hr>
					      		<div class="col-xs-3">
					      		<img src="/assets/images/alramimg/ic_bell_profile_img3_sm.png">
					      		</div>
					      		<div class="col-xs-9">
					      		<p style="margin:5px; text-align:left;"> 10cm의 팬미팅 당일입니다. </p>
					      		<p style="margin:5px; text-align:left; color:grey">5분 전</p>
					      		</div>
					      	
					      	</div>
					      	
					      
					      	<div class="row">
					      		<hr>
					      		<div class="col-xs-3">
					      		<img src="/assets/images/alramimg/ic_bell_profile_img4_sm.png">
					      		</div>
					      		<div class="col-xs-9">
					      		<p style="margin:5px; text-align:left;"> 소란 여름 콘서트 ade의 예매가 시작됐어요. 서두르세요! 예매 바로가기. </p>
					      		<p style="margin:5px; text-align:left; color:grey">30분 전</p>
					      		</div>
					      	</div>
					      	
					      	<div class="row">
					      		<hr>
					      		<div class="col-xs-3">
					      		<img src="/assets/images/alramimg/ic_bell_profile_img5_sm.png">
					      		</div>
					      		<div class="col-xs-9">
					      		<p style="margin:5px; text-align:left;"> 샤이니의 공연날짜가 "D-1" 임박했어요. </p>
					      		<p style="margin:5px; text-align:left; color:grey">1일 전</p>
					      		</div>
					      	</div>
					      	<div class="row">
					      		<hr>
					      		<div class="col-xs-3">
					      		<img src="/assets/images/alramimg/ic_bell_profile_img3_sm.png">
					      		</div>
					      		<div class="col-xs-9">
					      		<p style="margin:5px; text-align:left;"> 10cm의 새로운 SNS 게시물이 올라왔습니다. [페이스북]</p>
					      		<p style="margin:5px; text-align:left; color:grey">2일 전</p>
					      		</div>
					      	</div>
					      	<div class="row">
					      		<hr>
					      		<div class="col-xs-3">
					      		<img src="/assets/images/alramimg/ic_bell_profile_img8_sm.png">
					      		</div>
					      		<div class="col-xs-9">
					      		<p style="margin:5px; text-align:left;"> 포코에 가입하신 것을 환영합니다.</p>
					      		<p style="margin:5px; text-align:left;"> 궁금하신 점이 있으시면 눌러주세요!</p>
					      		<p style="margin:5px; text-align:left; color:grey">3일 전</p>
					      		</div>
					      	</div>
					      	
					      	
					      	
					      	<div class="row">
					      		<hr>
					      		<div class="col-xs-3">
					      		<img src="/assets/images/alramimg/ic_bell_profile_img7_sm.png">
					      		</div>
					      		<div class="col-xs-9">
					      		<p style="margin:5px; text-align:left;"> "포코팡"님이 소란 여름 콘서트 ade를 예매하셨습니다.</p>
					      		<p style="margin:5px; text-align:left; color:grey">5일 전</p>
					      		</div>
					      	</div>
					      	<div class="row">
					      		<hr>
					      		<div class="col-xs-3">
					      		<img src="/assets/images/alramimg/ic_bell_profile_img7_sm.png">
					      		</div>
					      		<div class="col-xs-9">
					      		<p style="margin:5px; text-align:left;"> "송중기친구"님이 그린라이트[뮤지컬]에 리뷰를 남겼습니다.</p>
					      		<p style="margin:5px; text-align:left; color:grey">7일 전</p>
					      		</div>
					      	</div>
					      	<div class="row">
					      		<hr>
					      		<div class="col-xs-3">
					      		<img src="/assets/images/alramimg/ic_bell_profile_img7_sm.png">
					      		</div>
					      		<div class="col-xs-9">
					      		<p style="margin:5px; text-align:left;"> "송중기친구"님이 갤러리에 사진을 추가했습니다.</p>
					      		<p style="margin:5px; text-align:left; color:grey">11일 전</p>
					      		</div>
					      	</div>
					      </div>
					      
					    	
					  
					    	
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					
					  </div>
					</div>
					<!--modal끝-->
				</div>
				<div class="Profile-mid">
				    <a onclick="location.href='/main/index'"><img src="/assets/images/ic_bar_logo_wt_sm.png" class="pro-link"></a>
			
				</div>
				<div class="Profile-right">
					<img style="cursor: pointer" src="/assets/images/ic_bar_search_wt_sm.png" data-toggle="modal" data-target="#myModal2" >
					<!-- Modal -->
					<div id="myModal2" class="modal fade" role="dialog">
					  <div class="modal-dialog">
					
					    <!-- Modal content-->
					    <div class="modal-content">
					      <div class="modal-header">
					      
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <br>
					      
					        <form class="searchbox modal-title" action="/main/detail2/1">
					          <input type="search" placeholder="Search" />
					          <button type="submit" value="search">&nbsp;</button>
					        </form>
					      </div>
					      <div class="modal-body">
					      
					     
					        <div class="row">
					    		<h3 style="color:#00c9b5; margin:30px">인기검색어</h3>
					    		<div class="roundbox2"><h4 style="color:white">1. 2016 청춘 페스티벌</h4></div>
					    		<div class="roundbox2" onclick="location.href='/main/detail2/1'"style="cursor:pointer"><h4 style="color:white">2. 월드 디제이 페스티벌</h4></div>
					    		
					    		<div class="roundbox2"><h4 style="color:white">3. 김준수 태국 콘서트</h4></div>
					    		
					    		<div class="roundbox2"><h4 style="color:white">4. 대림미술관 Color Your Life</h4></div>
					    		
					    		<div class="roundbox2"><h4 style="color:white">5. 지산 밸리록 페스티벌</h4></div>
					    		
					    		<div class="roundbox2"><h4 style="color:white">6. 장기하</h4></div>
					    		
					    		<div class="roundbox2"><h4 style="color:white">7. 서울 재즈 페스티벌</h4></div>
					    	  </div>
					    	
					  
					    	
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					<!--모달끝-->
					  </div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div> 
			
			
			
		<!--메인메뉴탭-->
		
		<div class="statistics">
				<div class="stat-shade">
				
		            <!--탭전환 스크립트-->
					<script src="/assets/js/easyResponsiveTabs.js" type="text/javascript"></script>
						<script type="text/javascript">
							$(document).ready(function () {
								$('#horizontalTab').easyResponsiveTabs({
									type: 'default', //Types: default, vertical, accordion           
									width: 'auto', //auto or any width like 600px
									fit: true   // 100% fit in a container
								});
							});
							
						</script>
						<div class="sap_tabs">
								<div id="horizontalTab" style="display: block; width: 100%; margin: 0px; background-color:#fff">
									 
								<div id="footer" style="position: fixed; bottom:0; width:100%; z-index:999">
									<ul class="resp-tabs-list">
										  <li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab" id="tab_home"><span><img src="/assets/images/ic_home_white.png"></span></li>
										  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab" id="tab_date"><span><img src="/assets/images/ic_date_white.png"></span></li>
										  <li class="resp-tab-item" aria-controls="tab_item-2" role="tab" id ="tab_favo"><span><img src="/assets/images/ic_favorite_white.png"></span></li>
										  <li class="resp-tab-item" aria-controls="tab_item-3" role="tab" id="tab_person"><span><img src="/assets/images/ic_person_white.png"></span></li>
										  <div class="clearfix"></div>
									 </ul>
					<!--아이콘변경 스크립트-->
					
									  <script>
									  $('#tab_home').click(function() {
                                            $(this).find("img").attr('src', '/assets/images/ic_home.png');
                                            $('#tab_date').find("img").attr('src', '/assets/images/ic_date_white.png');
                                            $('#tab_favo').find("img").attr('src', '/assets/images/ic_favorite_white.png');
                                            $('#tab_person').find("img").attr('src', '/assets/images/ic_person_white.png');
                                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                                        });
                                      $('#tab_date').click(function() {
                                            $(this).find("img").attr('src', '/assets/images/ic_date.png');
                                            $('#tab_home').find("img").attr('src', '/assets/images/ic_home_white.png');
                                            $('#tab_favo').find("img").attr('src', '/assets/images/ic_favorite_white.png');
                                            $('#tab_person').find("img").attr('src', '/assets/images/ic_person_white.png');
                                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                                        });
                                        $('#tab_favo').click(function() {
                                            $(this).find("img").attr('src', '/assets/images/ic_favorite.png');
                                            $('#tab_home').find("img").attr('src', '/assets/images/ic_home_white.png');
                                            $('#tab_date').find("img").attr('src', '/assets/images/ic_date_white.png');
                                            $('#tab_person').find("img").attr('src', '/assets/images/ic_person_white.png');
                                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                                        });
                                        $('#tab_person').click(function() {
                                            $(this).find("img").attr('src', '/assets/images/ic_person.png');
                                            $('#tab_home').find("img").attr('src', '/assets/images/ic_home_white.png');
                                            $('#tab_favo').find("img").attr('src', '/assets/images/ic_favorite_white.png');
                                            $('#tab_date').find("img").attr('src', '/assets/images/ic_date_white.png');
                                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                                        });
									  </script>
									</div>	  
									  
									  
						<!--탭시작		  -->
									<div class="resp-tabs-container">
										<h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>Statistics</h2>
						<!--탭0			-->
										<div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
											<div class="tab_img">
												<div class="month-graph">
													<div>
													
													<h4 style="text-align:left"><b style="color:#00c9b5"><%=@current_user.email.split('@')[0]%></b>&nbsp님을 위한 추천공연 ></h4>
														<br>
                                                        <div class="gallery js-flickity" data-flickity-options='{ "freeScroll": true, "wrapAround": true,"autoPlay": true }' style="height:315px">
                                                          <% @shows.each do |show| %>
                                                          <div class="gallery-cell" style="background-image: url(<%=show.showimg%>)" onclick="location.href='/main/detail2/<%=show.id%>'"></div>
                                                          <% end%>
                                                        </div>
                                                    </div>
                                                    <br>
                                           
                                                    <hr>
                                                
                                                    <div>
                                                    <h4 style="margin:10px; text-align:left">추천 아티스트 ></h4>
                                                    
                                                
                                                    </div>
                                                    


													<div class="row">
												
														
														<img src="/assets/images/newfolder/image103.jpg" class="col-xs-5" style="margin-left:10px; height:150px;">
													
														
														<div class="col-xs-6" onclick="location.href='/main/artist'" style="cursor:pointer">
														<p style="font-weight:bold; margin:10px; text-align:left;"> 참깨와 솜사탕 </p>
														<p style="font-size: 7px; margin:5px; text-align:left; color:grey">혜성처럼 등장한 어쿠스틱 밴드</p>
														<p style="font-size: 7px; margin:5px; text-align:left; color:grey">참깨와 솜사탕의 새 앨범과</p>
														<p style="font-size: 7px; margin:5px; text-align:left; color:grey">비하인드 스토리를 소개합니다.</p>
														</div>
													</div>
													<hr>
													<h4 style="margin:10px; text-align:left">금주의 공연 ></h4>
													<div class="row">
												
														
														<!--<img src="/assets/images/newfolder/image101.png" class="col-xs-5" style="height:120px;">-->
													
														
														<!--<div class="col-xs-6">-->
														<!--<p style="font-weight:bold; margin:5px; text-align:left;"> 참깨와 솜사탕 </p>-->
														<!--<p style="font-size: 7px; margin:5px; text-align:left; color:grey">혜성처럼 등장한 어쿠스틱 밴드</p>-->
														<!--<p style="font-size: 7px; margin:5px; text-align:left; color:grey">참깨와 솜사탕의 새 앨범과</p>-->
														<!--<p style="font-size: 7px; margin:5px; text-align:left; color:grey">비하인드 스토리를 소개합니다.</p>-->
														<!--</div>-->
													</div>
													<div>
													<img src="/assets/images/newfolder/image101.png" class="col-xs-4" style="height:120px;">
													<img src="/assets/images/newfolder/image104.png" class="col-xs-4" style="height:120px;">	
													<img src="/assets/images/newfolder/image105.png" class="col-xs-4" style="height:120px;">			
													</div>
													<br>
													<br>
													<br>
													<br>
													<br>
												</div>
											</div>
										</div>
										
								<!--탭1		-->
										<h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span>Work Report</h2>
										<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
											<div class="tab_img">
												<div class="month-graph" style="padding:0px"> 
												<!--달력 view-->
													<img  src="/assets/images/calendarview.png">
													
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
										
									<!--탭2	-->
										<h2 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span class="resp-arrow"></span>Our History</h2>
										<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
											<div class="tab_img">
												<div class="month-graph">
													<div class="row">
														<div class="col-xs-6">
														<h4 style="margin:5px; text-align:left">내 아티스트 소식</h4>
														</div>
														<div class="col-xs-6">
														<h4 style="margin:5px;text-align:right; color:#d70f5a; cursor: pointer;" data-toggle="modal" data-target="#myModal" > My Artists </h4>
														
														</div>
														
														<!-- Modal -->
														<div id="myModal" class="modal fade" role="dialog">
														  <div class="modal-dialog">
														
														    <!-- Modal content-->
														    <div class="modal-content">
														      <div class="modal-header">
														        <button type="button" class="close" data-dismiss="modal">&times;</button>
														        <h4 class="modal-title"><b style="color:#00c9b5">공아덕</b> 님의 아티스트</h4>
														      </div>
														      <div class="modal-body">
														      
														      <% @artist.each do |artist| %>
														      <br>
														        <div class="row">
														    		
														    		<div class="col-xs-3">
														    		<img style="border-radius: 50%; width:70px; height:70px; object-fit: cover;" src="<%=artist.artistimg%>">
														    		</div>
														    		<div class="col-xs-9">
														    		<br>
														    		<h4 style="margin:5px; text-align:left;"> <%=artist.artistname%> </h4>
														    		</div>
														    		
														    		
														    	</div>
														    	
														      <% end %>
														    	
														      </div>
														      <div class="modal-footer">
														        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														      </div>
														    </div>
														
														  </div>
														</div>
													</div>
													<div class="row">
														<hr>
														
														<div class="col-xs-3">
														<p style="margin:5px">2016.07.20</p>
														</div>
														<div class="col-xs-9">
														<p style="margin:5px; text-align:left;"> 고상지 님이 콘서트에 참여하십니다. </p>
														</div>
														<div class="col-xs-12">
														<img src="/assets/images/artist_gosangji.png" width="350"/>
														
														</div>
														<br>
													</div>
													<div class="row">
														<hr>
														<div class="col-xs-3">
														<p style="margin:5px">2016.06.20</p>
														</div>
														<div class="col-xs-9">
														<p style="margin:5px; text-align:left;"> 자이언티 님의 정규 3집이 발매되었습니다. </p>
														</div>
														</br>
													</div>
													<div class="row">
														<hr>
														
														<div class="col-xs-3">
														<p style="margin:5px;">2016.07.20</p>
														</div>
														<div class="col-xs-9">
														<p style="margin:5px; text-align:left;"> Troye sivan의 MV가 공개되었습니다. </p>
														</div>
														<div class="col-xs-12">
														<img src="/assets/images/artist_troyesivan.png" width="350"/>
														
														</div>
														<br>
													</div>
												</div>
											</div>

										</div>

								<!--탭3		-->
										<h2 class="resp-accordion" role="tab" aria-controls="tab_item-3"><span class="resp-arrow"></span>MyPage</h2>
										<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">
											<div class="tab_img">
												<div class="month-graph">
													<div>
														<br>
														<img src="/assets/images/ic_bell_profile_img2.png" style="object-fit: cover;">
													</div>
													
													<h3> <%=@current_user.email%></h3> 
													<%if user_signed_in? %>
														<div align="right">
                             							<button type="button" class="btn btn-default"><a href="/users/sign_out" data-method="delete">Log out</a></button>
                             							</div>
									                <%else%> "redirect_to :/users/sign_in"
									                <%end%>
													<hr>
													<div>
													<ul class="tabs">
													  <li class="active" rel="tab1" style="width: 50%; font-size:14px;">리뷰</li>
													  <li rel="tab2" style="width: 50%; font-size:14px;">찜</li>
													</ul>
													<div class="tab_container" style="overflow:hidden">
													  <h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>
													  <div id="tab1" class="tab_content">
													  
													  	<div class="row marketing"  style="margin-left: 10px;">
														  <div class="col-lg-6"  style="padding-left: 5px;">
														  	<img style="float: left; margin: 12px;" src="/assets/images/review/jung.png" width="100" />
														    <!--<img src="" class="img-thumbnail" width="320">-->
														    <br>
														    <p><b>정준영 첫사랑 콘서트</b></p>
														    <p>2016.07.31</p>
														    <br>
														    <p>첫사랑을 향한 고백</p>
														  </div>
														</div>
														<br>
														<div class="row marketing" style="margin-left: 10px;">
														  <div class="col-lg-6"  style="padding-left: 5px;">
														  	<img style="float: left; margin: 12px;" src="http://www.artic.or.kr/upfiles/PERFORMANCE/250x330_swan_lake.jpg" width="100" />
														    <!--<img src="" class="img-thumbnail" width="320">-->
														    <br>
														    <p><b>국립발레단 백조의호수</b></p>
														    <p>2016.07.01</p>
														    <br>
														    <p>태어나서 처음본 발레공연</p>
														  </div>
														
														 </div>
													  
													  </div>
													  <!-- #tab1 -->
													  <h3 class="tab_drawer_heading" rel="tab2">Tab 2</h3>
													  <div id="tab2" class="tab_content">
													  	
													  	<div class="row marketing" style="margin-left: 10px;">
														  <div class="col-lg-6" style="padding-left: 5px;">
														  	<img style="float: left; margin: 15px;" src="http://cfile22.uf.tistory.com/image/2465B04E5458274F15B72A" width="100" />
														    <!--<img src="" class="img-thumbnail" width="320">-->
														    
														    <br>
														    <div style="text-align:left">
														    <p><b>로이킴의 음악투어</b></p>
														    <br>
														    <p>장소&nbsp&nbsp서울잠실종합경기장</p>
														    <p>기간&nbsp&nbsp2016.03.05~2016.03.31</p>
														    <p>가격&nbsp&nbsp25000</p>
														    <p>예매&nbsp&nbsp인터파크</p>
														    </div>
														  </div>
														</div>
														<br>
														<div class="row marketing" style="margin-left: 10px;">
														  <div class="col-lg-6" style="padding-left: 5px;">
														  	<img style="float: left; margin: 15px;" src="http://cfile25.uf.tistory.com/image/245F1B3F54FD45FD07C61C" width="100" />
														    <!--<img src="" class="img-thumbnail" width="320">-->
														    <br>
														    <div style="text-align:left">
														    <p><b>자우림의 하하하송</b></p>
														    <br>
														    <p>장소&nbsp&nbsp남산국립극장</p>
														    <p>기간&nbsp&nbsp2016.08.05~2016.08.7</p>
														    <p>가격&nbsp&nbsp35000</p>
														    <p>예매&nbsp&nbsp인터파크</p>
														    </div>
														  </div>
														</div>
													  
													  
													  
													  </div>
													  <!-- #tab2 -->
													
													</div>
													<!-- .tab_container -->
													</div>	
													&nbsp<br>
													
													
													
												

												</div>
											</div>
										</div>
										
										
										
									</div>
									<br>
									<br>
									<br>
									<br>
									<!--탭끝-->
									
								</div>
						</div>
				</div>
			</div>
  </div>
</div>
</div>

<script src="/assets/js/jquery.nicescroll.js"></script>
<script src="/assets/js/scripts.js"></script>
</body>